= simple_form_for @employee_form,  url: employees_path, method: :post do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :birth_date, as: :date, start_year: Date.today.year - 12, end_year: Date.today.year - 100, discard_day: true, order: [:month, :year]
  = f.button :submit
